<div class="main-container">
    <clr-icon shape="document" class="is-inverse doc" size="72"></clr-icon><clr-icon shape="lightning" class="is-inverse lightning" size="24"></clr-icon>
    <h1>Actionsheet</h1>
    <p>Highly recommended books converted into checklists and cheatsheets.</p>
</div>
<div class="examples">
    <div class="row flex-items-xs-center">
        <div class="col-sm-3">
            <p>Practice what you read with an actionsheet.  Actionsheets create clear paths from key points in a book.</p>
        </div>
        <div class="col-sm-3">
            <p>If a process begins to break for you, review a relevant actionsheet and see if you are practicing all of the steps necessary.</p>
        </div>
    </div>
    <div class="row flex-items-xs-center">
        <div class="col-sm-4 actionsheets">
            <h3>Check out</h3>
            <ul class="list-unstyled">
                <li>
                    <a routerLink="/actionsheet/intelligent-investor">
                        Intelligent Investor
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
<footer></footer>
